<div ng-include="'components/parts/header.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-2"></div>

		<div class="col-lg-8">

			<form class="form-horizontal well" role="form">
				<div class="input-group">

					<angucomplete-alt id="itemName"
									placeholder="Enter item name"
									pause="100"
									selected-object="selectedUnique"
									local-data="uniqueItems"
									minlength="1"
									search-fields="name"
									title-field="name"
									match-class="angucomplete-highlight"
									input-changed="inputChanged"
									input-class="form-control"/></angucomplete-alt>



					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="find()">Search</button>
					</span>
				</div>
			</form>

		</div>

		<div class="col-lg-2"></div>

	</div>

	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">

			<div ng-show="results.length">

				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Icon</th>
							<th>Currency</th>
							<th>Amount</th>
							<th>Thread ID</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="result in results">
							<td>{{result.name}}</td>
							<td>
								<img ng-src="{{result.icon}}" alt="{{result.name}}">
							</td>
							<td>
								{{result.buyOut.currencyType}}
							</td>
							<td>
								{{result.buyOut.numberValue}}
							</td>


							<!--<td>
								<div ng-show="result.buyOut">
									{{result.buyOut.numberValue}} x 
									<img ng-src="assets/currency/{{result.buyOut.currencyType}}.png" alt="{{result.buyOut.displayText}}">
								</div>
								<div ng-show="!result.buyOut">
									No buyout
								</div>
								
								
							</td> -->
							<td>
								<a target="_blank" href="http://www.pathofexile.com/forum/view-thread/{{result.threadId}}">{{result.threadId}}</a>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div ng-show="!results.length">
				<div class="well">
					<h4>No results found!</h4>
				</div>
			</div>

		</div>
		<div class="col-lg-2"></div>
	</div>
</div>

<div ng-include="'components/parts/footer.html'"></div>
